.list-items {
  width: 100% !important;
  padding: 5px !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.list-items form {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.list-item-text {
  display: none !important;
  width: 100% !important;
}

.on {
  display: inherit !important;
}

.off {
  display: none !important;
}
