.add-panel {
  margin: 5px;
}

.add-panel form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-panel .add-panel-inputs {
  width: 70%;
}

.add-panel-button {
  width: 28%;
}
